/* Responsive design 
Banner con unidades viewport vh
Footer siempre poner abajo
Responsive con flexbox
Responsive con grid
*/

body{
    margin: 0;
    color: #eee;
    font-family: sans-serif;
    background-image: radial-gradient(circle, #3a1957, #b94bf8);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Estilo Responsive con Flexbox
.flexbox{
    display: flex;
    flex-wrap: wrap;
}

.flexbox_item{
    margin: 2rem;
    min-width: 320px;
    flex: 1 1 320px;
}
*/

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 2rem;
    padding: 1rem;
}

.banner{
    background: royalblue;
    padding: 10vmin;
    text-align: center;
    font-size: 1.5rem;
}

.footer{
    background-color: royalblue;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-top: auto;
}